@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
  
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}
  
.container{
    position: relative;
    background-image: url(/img/bgcard.jpg);
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
  
header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo img{
    width: 48px;
    margin-right: 10px;
}
  
h5{
    margin-right: 10px;
    font-size: 16px;
    font-weight:600;
}
  
header .chip{
    width: 60px;
}
  
.card-details{
    margin-top: 30px;
}
  
form{
    display: flex;
    flex-direction: column;
}
  
.input-container{
    margin-bottom: 15px;
}



label{
    display: block;
    margin-bottom: 5px;
}